body {
  font-family: Courier, "Lucida Console", monospace;
  width: 100%;
}

#mapid {
  background: #CCC;
  display: block;
  max-width:1000px;
  width: 90%;
  height: 500px;
  position: relative;
  border: 1px solid #AAA;
  top: 50px;
  margin: auto;
}


/*#detail {
  float: right;

  border: 1px solid #DDD;

  width: 500px;
  height: 200px;

  overflow: auto;

  padding: 7px;
  margin: 0 15px;
}*/
